<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить фильм</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Добавить фмльм</h1>

    <form method="POST" th:action="@{/films/add}" th:object="${filmForm}">
        <div class="mb-3">
            <label for="title" class="form-label">Название</label>
            <input name="title" type="text" class="form-control" id="title">
        </div>

        <div class="mb-3">
            <label for="premierYear" class="form-label">Дата премьеры</label>
            <input name="premierYear" type="text" class="form-control" id="premierYear">
        </div>

        <div class="mb-3">
            <label for="country" class="form-label">Страна</label>
            <input name="country" type="text" class="form-control" id="country">
        </div>

        <div class="mb-3">
            <label for="genre" class="form-label">Жанр</label>
            <select class="form-select" name="genre" id="genre" aria-label="Default select example">
                <option selected>Выберете жанр из списка:</option>
                <option th:each="genre : ${T(com.example.filmography.model.Genre).values()}"
                        th:value="${genre}" th:text="${genre.getGenreText()}"></option>
            </select>

        </div>

        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>
</body>
</html>
